.image--picker--container{
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 30px;
  padding: 0 20px;
  margin: 0 auto;
  .pick-image{
    .list-image{
      width: 200px;
      height: 200px;
      cursor: pointer;
    }
    .selected{
      border: 1px solid red;
    }
  }
}